<%IF: Flags.PasswordChanged %>
	<%RETURN: Create.mapFor(
		title = 'Password changed',
		body = 'Thank you. Your password is changed successfully.'
		) %>
<%/IF%>

<%OUTPUT: body %>

	<FORM action="<%= Request.getUrl() %>" METHOD=POST>
		<table border='0' width='0%'>
			<tr>
				<td colspan='2' bgcolor='AAFFAA' color='000000' align='center'><b><%= intl( en = 'Change password', ru = 'Смена пароля' ) %></b></td>
			</tr>
			<%IF: Flags.Error %>
				<tr>
				<td colspan='2' bgcolor='FF0000' color='77FF00' align='center'><b><%= intl( en = 'Error', ru = 'Ошибка' ) %>: <%=Flags.Error%></b></td>
				</tr>
			<%/IF%>
			<tr>
				<td><b><%= intl( en = 'Current password', ru = 'Старый пароль' ) %>:&nbsp;</b></td><td><INPUT TYPE='PASSWORD' NAME='password'></td>
			</tr>
			<tr>
				<td><b><%= intl( en = 'New password', ru = 'Новый пароль' ) %>:&nbsp;</b></td><td><INPUT TYPE='PASSWORD' NAME='newpass'></td>
			</tr>
			<tr>
				<td><b><%= intl( en = 'Retype password', ru = 'Повтор пароля' ) %>:&nbsp;</b></td><td><INPUT TYPE='PASSWORD' NAME='newpass2'></td>
			</tr>
			<tr>
				<td colspan='2' align='right'><INPUT TYPE='SUBMIT' VALUE='&nbsp; OK &nbsp;'></td>
			</tr>
		</table>
	</FORM>

<%/OUTPUT%>
<%RETURN: {
	title : "Password change",
	body : body 
} %>