<%IF: Flags.PasswordChanged %>
	<%RETURN: {
		title : 'Password changed',
		body : 'Thank you. Your password is changed successfully.'
	} %>
<%/IF%>

<%IF: Flags.Scheduled %>
	<%RETURN: {
		title : 'Email change scheduled',
		body : 'An email with an activation code is sent to your email address.'
	} %>
<%/IF%>

<%IF: Flags.Form == 'password' %>
	<%OUTPUT: body %>
		<FORM action="<%=Request.getUrl()%>" METHOD=POST>
			<table border='0' width='0%'>
				<tr>
					<td colspan='2' bgcolor='AAFFAA' color='000000' align='center'><b><%= intl( en = 'Change password', ru = 'Смена пароля' ) %></b></td>
				</tr>
				<%IF: Flags.Error %>
					<tr>
					<td colspan='2' bgcolor='FF0000' color='77FF00' align='center'><b><%= intl( en = 'Error', ru = 'Ошибка' ) %>: <%=Flags.Error%></b></td>
					</tr>
				<%/IF%>
				<tr>
					<td><b><%= intl( en = 'New password', ru = 'Новый пароль' ) %>:&nbsp;</b></td><td><INPUT TYPE='PASSWORD' NAME='newpass'></td>
				</tr>
				<tr>
					<td><b><%= intl( en = 'Retype password', ru = 'Повтор пароля' ) %>:&nbsp;</b></td><td><INPUT TYPE='PASSWORD' NAME='newpass2'></td>
				</tr>
				<tr>
					<td colspan='2' align='right'><INPUT TYPE='SUBMIT' VALUE='&nbsp; OK &nbsp;'></td>
				</tr>
			</table>
		</FORM>
	<%/OUTPUT%>
	<%RETURN: { title : "Forgotten password change", body : body } %>
<%/IF%>

<%IF: Flags.Form == 'email'%>
	<%OUTPUT: body %>
		<FORM action="<%=Request.getUrl()%>" METHOD=POST>
			<table border='0' width='0%'>
				<tr>
					<td colspan='2' bgcolor='AAFFAA' color='000000' align='center'><b><%= intl( en = 'Enter your email', ru = 'Введите Ваш e-mail' ) %></b></td>
				</tr>
				<%IF: Flags.Error %>
					<tr>
					<td colspan='2' bgcolor='FF0000' color='77FF00' align='center'><b><%= intl( en = 'Error', ru = 'Ошибка' ) %>: <%=Flags.Error%></b></td>
					</tr>
				<%/IF%>
				<tr>
					<td><b>E-Mail:&nbsp;</b></td><td><INPUT TYPE='TEXT' NAME='email'></td>
				</tr>
				<tr>
					<td colspan='2' align='right'><INPUT TYPE='SUBMIT' VALUE='&nbsp; OK &nbsp;'></td>
				</tr>
			</table>
		</FORM>
	<%/OUTPUT%>
	<%RETURN: { title : "Enter your email address", body : body } %>
<%/IF%>